h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.row{
    background-color: #f8efc0;
    padding: 20px;
}

.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img1{
    box-shadow: 10px 10px 30px #000;
    height: 150px;
}
h2{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}