<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="95" [radius]="70" [showUnits]="false" [title]="'HTML'" [titleFontSize]="'15px'"
            [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4" [outerStrokeColor]="'#121b22'"
            [innerStrokeColor]="'#e06730'" [animation]="true" [animationDuration]="300" [backgroundColor]="'#f8efc0'">
        </circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="75" [radius]="70" [showUnits]="false" [title]="'ANGULAR'" [titleFontSize]="'15px'"
            [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4" [outerStrokeColor]="'#121b22'"
            [innerStrokeColor]="'#e06730'" [animation]="true" [animationDuration]="300" [backgroundColor]="'#f8efc0'">
        </circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="90" [radius]="70" [showUnits]="false" [title]="'DISEÑO WEB'"
            [titleFontSize]="'15px'" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#121b22'" [innerStrokeColor]="'#e06730'" [animation]="true" [animationDuration]="300"
            [backgroundColor]="'#f8efc0'"></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="100" [radius]="70" [showUnits]="false" [title]="'CSS'"
            [titleFontSize]="'18px'" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#121b22'" [innerStrokeColor]="'#e06730'" [animation]="true" [animationDuration]="300"
            [backgroundColor]="'#f8efc0'"></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="95" [radius]="70" [showUnits]="false" [title]="'INGLES'"
            [titleFontSize]="'15px'" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#121b22'" [innerStrokeColor]="'#e06730'" [animation]="true" [animationDuration]="300"
            [backgroundColor]="'#f8efc0'"></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="90" [radius]="70" [showUnits]="false" [title]="'CREATIVIDAD'"
            [titleFontSize]="'15px'" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#121b22'" [innerStrokeColor]="'#e06730'" [animation]="true" [animationDuration]="300"
            [backgroundColor]="'#f8efc0'"></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="90" [radius]="70" [showUnits]="false" [title]="'PRODUCTIVIDAD'"
            [titleFontSize]="'15px'" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#121b22'" [innerStrokeColor]="'#e06730'" [animation]="true" [animationDuration]="300"
            [backgroundColor]="'#f8efc0'"></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="90" [radius]="70" [showUnits]="false" [title]="'ADAPTABILIDAD'"
            [titleFontSize]="'15px'" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#121b22'" [innerStrokeColor]="'#e06730'" [animation]="true" [animationDuration]="300"
            [backgroundColor]="'#f8efc0'"></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="90" [radius]="70" [showUnits]="false" [title]="'LIDERAZGO'"
            [titleFontSize]="'15px'" [showSubtitle]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#121b22'" [innerStrokeColor]="'#e06730'" [animation]="true" [animationDuration]="300"
            [backgroundColor]="'#f8efc0'"></circle-progress>
    </div>
</div>