
.row{
    font-family: 'Chivo Mono', monospace;
    background-color: #124b77;
    padding: 20px;
}
h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

@media (min-width: 500px) and (max-width: 576px){
    col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    }
}